version: '3.8'

services:
  trivy-visualizer:
    build: .
    network_mode: "host"
    volumes:
      - .:/app
      - ./trivy_scan:/trivy_scan

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    ports:
      - "8001:8080"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - KC_METRICS_ENABLED=true
    volumes:
      - ./keycloak_data:/opt/keycloak/data/import
    command: start-dev --import-realm

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/etc/grafana/dashboards
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin

volumes:
  grafana_data:
